{% extends 'layouts/layout.html' %}
{% set title = 'Chamado - Abrir' %}
{% set pages = [
{ title: "Chamado", url: "/chamados"},
{ title: "Abrir", url: "/chamados/abrir"}
] %}

{% block conteudo %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header pb-0">
        <div class="d-flex align-items-center">
          <p class="mb-0">Abrir Chamado</p>
        </div>
      </div>

      <div class="card-body">
        <form action="/chamados/abrir" method="post">

          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <label>Assunto</label>
                <input type="text" class="form-control" name="assunto" placeholder="Informe o assunto">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Data - {{ data }}</label>
                <input type="date" value="{{ data }}" class="form-control" name="data" placeholder="Informe o assunto">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Descrição</label>
            <textarea class="form-control" name="mensagem" cols="30" rows="10"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Abrir</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}